extends layout
block content
  .container
    .page-header
      h1.text-info Manage Data V.08_20220223
      hr
    .row  
      .col-md-12
        a(href='/upload').btn.btn-success.btn-lg Upload ไฟล์เพิ่ม
        a(href='/search').btn.btn-success.btn-lg ลอง Search
      .col-md-12
        table.table.table-bordered.table-hover#manage_table
          thead
            tr
              th DATE
              th BATCH-ID
              th FILENAME
              th QTY
              th ACTION
          tbody
          tfoot
      .col-md-12
        .overlay.upload_overlay
          .spinner-border.text-success(role="status")
          span.sr-only Loading...

                
block script
  script(type="text/javascript").
      $(function () {
        var manage_datatable = null;
        var up_data = !{JSON.stringify(upload_data)};
        //console.log(up_data);
        $('.upload_overlay').hide();
        manage_datatable = $("#manage_table").DataTable({
          responsive: true, 
          lengthChange: false, 
          autoWidth: false,
          columnDefs: [
                        {
                        }
                    ],
          data: up_data,
          order : [[ 0, "desc" ]],
          columns: [
             { data : "created_at" ,
               render: (data) => {
                 return moment(data).format("YYYY-DD-MM HH:mm:ss");
               }
             },
             { 
               data : {},
               render: function(data) {
                  return data.id + ' - ' + data.uuid;
               }
             },
             { data : "original_filename"},
             { data : "qty"},
             { data : (_data) => {
                 var html = '';
                 if(_data.status == 0 ) html+= '<button class="btn btn-success btn-action" value="' + _data.uuid + '"> Activate </button>';
                 else if(_data.status == 1) html+= '<button class="btn btn-danger btn-deaction" value="' + _data.uuid + '"> Deactivate </button>';
                 else if(_data.status == 2) html+= '<button class="btn btn-warning btn-reaction" value="' + _data.uuid + '"> Reactivate </button>';
                 if(_data.status >= 1 &&  _data.status <= 2) html+= '<button class="btn btn-default btn-clear-data" value="' + _data.uuid + '"> Clear data </button>';
                 if(_data.status == 3) 
                   html+= '<i class="text-info">เคลียร์ข้อมูลแล้ว</i><button class="btn btn-danger btn-del-data" value="' + _data.uuid + '"> DELETE data </button>';
                 return html;
               }
             }
          ], 
          createdRow: function (row,_data) {
              //console.log(_data);
              $(row).attr('data-uuid', _data.uuid);
              $(row).attr('filename', _data.filename);
            },
          initComplete: function() {
            }
        })
        $("#manage_table tbody").on("click",".btn-action", function (event) {
                var __data = manage_datatable.row($(this).closest("tr")).data();
                //console.log(__data);
                $("button").prop("disabled", true);
                $('.upload_overlay').show();
                activate(__data.uuid, __data.id);
        });
        $("#manage_table tbody").on("click",".btn-deaction", function (event) {
                var __data = manage_datatable.row($(this).closest("tr")).data();
                $("button").prop("disabled", true);
                $('.upload_overlay').show();
                deactivate(__data.uuid);
        });
        $("#manage_table tbody").on("click",".btn-reaction", function (event) {
                var __data = manage_datatable.row($(this).closest("tr")).data();
                $("button").prop("disabled", true);
                $('.upload_overlay').show();
                reactivate(__data.uuid);
        });
        $("#manage_table tbody").on("click",".btn-clear-data", function (event) {
                var __data = manage_datatable.row($(this).closest("tr")).data();
                $("button").prop("disabled", true);
                $('.upload_overlay').show();
                clear_data(__data.uuid, __data.id,  __data.filename);
        });
        $("#manage_table tbody").on("click",".btn-del-data", function (event) {
                var __data = manage_datatable.row($(this).closest("tr")).data();
                $("button").prop("disabled", true);
                $('.upload_overlay').show();
                delete_data(__data.uuid , __data.id);
        });

      })  
      function activate (uuid, id) {
        const _post_data = { 
          uuid: uuid,
          master_id: id 
        };
        $.post("/manage/activate",
          _post_data ,
          function(data, status){
            $('.upload_overlay').hide();
            alert("เริ่มใช้ข้อมูลแล้ว!");
            $("button").prop("disabled", true);
            location.reload();
          });
      }
      function deactivate (uuid) {
        const _post_data = { uuid: uuid };
        $.post("/manage/deactivate",
          _post_data ,
          function(data, status){
            $('.upload_overlay').hide();
            alert("เอาข้อมูลออกแล้ว!");
            $("button").prop("disabled", true);
            location.reload();
          });
      }
      function reactivate (uuid) {
        const _post_data = { uuid: uuid };
        $.post("/manage/reactivate",
          _post_data ,
          function(data, status){
            $('.upload_overlay').hide();
            alert("เริ่มใช้ข้อมูลแล้ว!");
            $("button").prop("disabled", true);
            location.reload();
          });
      }
      function clear_data (uuid, id, filename) {
        if (confirm("ต้องการลบข้อมูล?") == true) {
          const _post_data = { 
            uuid: uuid,
            master_id: id,
            fn: filename 
          };
          $.post("/manage/clear_data",
            _post_data ,
            function(data, status){
              $('.upload_overlay').hide();
              alert("เคลียร์ข้อมูลแล้ว!");
              $("button").prop("disabled", true);
              location.reload();
            });
        } else {
          $("button").prop("disabled", true);
          location.reload();
        }
      }
      function delete_data (uuid, id) {
        if (confirm("ต้องการลบข้อมูลทั้งหมด?") == true) {
          const _post_data = {
            uuid: uuid,
            master_id: id
          };
          $.post("/manage/delete_data",
            _post_data ,
            function(data, status){
              $('.upload_overlay').hide();
              alert("ลบข้อมูลแล้ว!");
              $("button").prop("disabled", true);
              location.reload();
            });
        } else {
          $("button").prop("disabled", true);
          location.reload();
        }
      }

